*{
    margin: 0;
    border: 0;
    padding: 0;
}
.menu{
    background-color: #E1E1E1;
    font-family: 'Courier New', Courier, monospace;
}
.Cartao{
    box-shadow: 0px 4px 8px 0 rgb(0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.preco{
    color: gray;
    font-size: 22px;
}
.Cartao button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.Cartao button:hover{
    opacity: 0.7;
}